<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1> My Jupyter Notebook on IBM Watson Studio </h1>

**GAJENDRA SINGH TOMAR** <br>
engineering student

*I am interested in data science because I love to do find new ways to solve the problem . Also use to do data observation*

<h3> To print a fibonacci series </h3>

In [9]:
def Fibonacci(n):
    if n<0:
        print("Incorrect input")
    elif n==0:
        return 0
    elif n==1:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
  
print(Fibonacci(1))
print(Fibonacci(2))
print(Fibonacci(3))

1
1
2

<ul>
    <li> world </li>
    <li> Sid </li>
    <li> hello </li>
    <li> print </li>
</ul>    

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

<img src="img_girl.jpg" alt="Girl in a jacket">